# convert this file to .env and fill in the values
# PostgreSQL Database Configuration
POSTGRE_DB_USERNAME=
POSTGRE_DB_PASSWORD=
POSTGRE_DB_HOST=
POSTGRE_DB_PORT=

# MongoDB Database Configuration
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_HOST=
MONGO_DB_NAME=
